# database
spring.sql.init.platform=mysql
spring.datasource.url=jdbc:mysql:${MYSQL_CONVERSION_URL}
spring.datasource.username=cc_user
spring.datasource.password=cc1234
spring.jpa.database-platform=org.hibernate.dialect.MySQLDialect

# one of none, validate, update, create or create-drop
spring.jpa.hibernate.ddl-auto=create-drop
# one of always, embedded or never
spring.sql.init.mode=always

# uncomment the below lines to view sql output in console
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true
