spring.application.name=config-server
server.port=8888

# see https://cloud.spring.io/spring-cloud-config/multi/multi__spring_cloud_config_server.html#_spring_cloud_config_server
spring.cloud.config.server.git.uri=<uri to repository>

#Eureka
eureka.client.serviceUrl.defaultZone=http://localhost:8761/eureka

# Configuring info endpoint
info.app.name=Configuration Service
info.app.description=Spring Cloud Configuration microservice
info.app.version=@project.version@
